apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "aws-xray.fullname" . }}
  labels:
    {{- include "aws-xray.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "aws-xray.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "aws-xray.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "aws-xray.serviceAccountName" . }}
      priorityClassName: {{ .Values.priorityClassName }}
      volumes:
        - name: config-volume
          configMap:
            name: "{{ include "aws-xray.fullname" . }}-config"
      hostNetwork: true
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/xray", "-c", "/aws/xray/config.yaml"]
          ports:
            - name: xray-ingest
              containerPort: {{ .Values.xray.containerPort }}
              hostPort: {{ .Values.xray.containerPort }}
              protocol: UDP
            - name: xray-tcp
              containerPort: {{ .Values.xray.containerPort }}
              hostPort: {{ .Values.xray.containerPort }}
              protocol: TCP
          volumeMounts:
            - name: config-volume
              mountPath: /aws/xray
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
