apiVersion: v1
kind: Service
metadata:
  name: {{ include "aws-xray.fullname" . }}
  labels:
    {{- include "aws-xray.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.xray.containerPort }}
      protocol: UDP
      name: incoming
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.xray.containerPort }}
      protocol: TCP
      name: xray-tcp
  selector:
    {{- include "aws-xray.selectorLabels" . | nindent 4 }}
